body{
    background-color: rgb(27, 1, 1);
}
#wrapper{
    width: 75%;
    margin: 0 auto;
    background-color: cornflowerblue;
    padding: 30px
}

.qbox1, .qbox2, .qbox3{
box-sizing: border-box;

}

.qbox1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    margin: 20px;
    border: 25px solid rgb(0, 0, 0);
    padding: 10px 30px;
    width: 500px;
    border-radius: 50px
}
.qbox2{
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-size: 30px;
margin: 20px;
    border: 40px dotted palevioletred;
    padding: 30px 50px;
    width: 500px;
    background-color: darkcyan;
    border-radius: 30px
}
.qbox3{
    font-family: cursive;
    font-size: 30px;
    margin: 20px;
    border: 30px double darkred;
    padding: 30px 80px;
    width: 500px;
    background-color: gold;
    border-radius: 500px
}